$sidebar-width: 500px;
$header-height: 60px;
$spacing: 20px;

* {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #ddd;
  display: flex;
  height: $header-height;
  align-items: center;
  padding: $spacing;
}

.wrapper {
  display: flex;
}

#map {
   height: calc(100vh - #{$header-height});
   width: 100%;
}

.map-area {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: $spacing;
  width: $sidebar-width;
  overflow-y: scroll;
  height: calc(100vh - #{$header-height});
}

.mural-info {
  flex: 1 1 100%;
}

.mural-info__image {
  max-width: 100%;
}

.mural-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mural-list__button {
  
}


footer {
  width: 100%;
  font-size: 0.8em;
  align-self: flex-end;
}
