$sidebar-width: 450px;
$header-height: 60px;
$spacing: 20px;
$border: 1px solid #ddd;
$desktop-thumbnail-size-x: 125px;
$desktop-thumbnail-size-y: 100px;
$mobile-thumbnail-size-x: 100px;
$mobile-thumbnail-size-y: 80px;
$color-blue: #3C7BD6;

* {
  box-sizing: border-box;
}

.header {
  border-bottom: $border;
  display: flex;
  height: $header-height;
  align-items: center;
  padding: $spacing;
}

.header__heading-link {
  text-decoration: none;
  color: #000;

  &:hover, &:active {
    color: $color-blue;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  @include tablet-and-up {
    flex-direction: row;
  }
}

#map {
  width: 100%;
  height: calc(50vh - #{$header-height / 2});

  @include tablet-and-up {
    height: calc(100vh - #{$header-height});
  }
}

.map-area {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(50vh - #{$header-height / 2});
  -webkit-overflow-scrolling: touch;

  @include tablet-and-up {
    width: $sidebar-width;
    height: calc(100vh - #{$header-height});
    flex: 1 0 auto;
    border-left: $border;
  }
}

.mural-count {
  padding: $spacing / 2;
  border-bottom: $border;
  font-weight: bold;

  @include tablet-and-up {
    padding: $spacing;
  }
}

.mural-info__image {
  max-width: 100%;
}

.mural-list {
  flex: 1 1 100%;
  list-style-type: none;
  overflow-y: scroll;
  padding: $spacing / 2;
  margin: 0;
  border-bottom: $border;

  @include tablet-and-up {
    padding: $spacing;
  }
}

.lazyload,
.lazyloading {
  background-image: url('../images/loading.gif');
  background-size: initial !important;
}

.mural-list__image-wrapper {
  min-width: $mobile-thumbnail-size-x;
  height: $mobile-thumbnail-size-y;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity 300ms;

  @include tablet-and-up {
    min-width: $desktop-thumbnail-size-x;
    height: $desktop-thumbnail-size-y;
  }
}

.mural-list__meta {
  padding: 0 $spacing / 2;
  margin: 0;
  align-self: center;
}

.mural-list__address {
  margin: 0;
}

.mural-list__button {
  align-items: center;
  border: 0;
  border-radius: 4px;
  background: #fff;
  padding: 0;
  margin-bottom: $spacing / 2;
  border: $border;
  width: 100%;
  font-size: 1em;
  text-align: left;
  cursor: pointer;
  display: flex;

  &:hover, &:focus {
    border: 1px solid $color-blue;
  }

  @include tablet-and-up {
    margin-bottom: $spacing;
  }
}

.mural-credits{
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  align-self: flex-end;
  padding: $spacing;
}
