$sidebar-width: 450px;
$header-height: 60px;
$spacing: 20px;
$border: 1px solid #ddd;
$thumbnail-size-x: 100px;
$thumbnail-size-y: 100px;

* {
  box-sizing: border-box;
}

.header {
  border-bottom: $border;
  display: flex;
  height: $header-height;
  align-items: center;
  padding: $spacing;
}

.header__heading-link {
  color: #000;
}

.wrapper {
  display: flex;
}

#map {
   height: calc(100vh - #{$header-height});
   width: 100%;
}

.map-area {
  width: 100%;
}

.sidebar {
  flex: 1 0 auto;
  border-left: $border;
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  overflow: hidden;
  height: calc(100vh - #{$header-height});
}

.mural-count {
  padding: $spacing;
  border-bottom: $border;
  font-weight: bold;
}

.mural-info {
  // TEMP
  display: none;
  // flex: 1 1 100%;
}

.mural-info__image {
  max-width: 100%;
}

.mural-list {
  flex: 1 1 100%;
  list-style-type: none;
  overflow-y: scroll;
  padding: $spacing;
  margin: 0;
  border-bottom: $border;
}

.lazyload,
.lazyloading {
  background-image: url('../images/loading.gif');
  background-size: initial !important;
}

.mural-list__image-wrapper {
  min-width: $thumbnail-size-x;
  height: $thumbnail-size-y;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity 300ms;
}

.mural-list__span {
  padding: 0 $spacing / 2;
}

.mural-list__button {
  align-items: center;
  border: 0;
  border-radius: 4px;
  background: #fff;
  padding: 0;
  margin-bottom: $spacing;
  border: $border;
  width: 100%;
  font-size: 1em;
  text-align: left;
  cursor: pointer;
  display: flex;

  &:hover, &:focus {
    border: 1px solid salmon;
  }
}

.mural-credits{
  width: 100%;
  font-size: 0.8em;
  align-self: flex-end;
  padding: $spacing;
}
