.mural-modal__image {
  max-width: 100%;
  width: auto;
}

.mural-moral__header {
  padding: 0 $spacing * 2;
}

.mural-modal__heading {
  margin: 0 auto $spacing / 2;
}
.mural-modal__meta {
  margin: 0 0 $spacing 0;
}

.remodal-overlay {
  background: rgba(#000, 0.8);
}

.remodal-wrapper, .remodal-overlay {
  opacity: 0;
  transition: opacity 300ms;
}

.remodal-overlay.remodal-is-opened,
.remodal-wrapper.remodal-is-opened {
  opacity: 1;
}

.remodal, .remodal-wrapper:after {
  vertical-align: middle;
}

.remodal {
  max-width: calc(100% - #{$spacing * 2});
  width: auto;
  padding: $spacing;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
  border-radius: 4px;
}

.remodal-close {
  position: absolute;
  padding: $spacing;
  top: 0;
  right: 0;
  position:absolute;
  background: none;
  border: none;
}
